<ul>
    <li><b>Id:</b> {{conexiones.id}} </li>
    <li><b>Nombre:</b> {{conexiones.nombre}}</li>
    <li><b>Apellidos:</b> {{conexiones.apellidos}} </li>
    <li><b>Usuario Everis:</b> {{conexiones.userEveris}} </li>
    <li><b>Usuario Caixa:</b> {{conexiones.userCaixa}} </li>
    <li><b>Contraseña:</b> {{conexiones.pass}} </li>
    <li><b>Fecha de creación:</b> {{conexiones.fecCreacion}}</li>
    <li><b>Fecha de modificación:</b> {{conexiones.fecMod}}</li>
    <li><b>Fecha último acceso:</b> {{conexiones.fecUltAcceso}}</li>
</ul>
